*{
  font-family: 'Roboto', sans-serif;
}

.info-container{
  display: flex;
  justify-content: space-around;
}

.info-container{
  border-bottom: 2px solid gray;
}

.formulario-container{
  padding: 25px 40px;
  border-bottom: 2px solid gray;
  display: flex;
  justify-content: center;
}

.formulario-soporte{
  display: flex;
}

.columna-1, .columna-2{
  display: flex;
  flex-direction: column;
  padding: 30px;
}

.columna-2 input{
  align-self: flex-start;
  margin: 5px 0;
}

.lista-container ol{
  display: flex;
  margin-right: 60px;
  margin-left: 60px;
  padding-left: 0px;
}

.lista-container li{
  list-style: none;
  padding: 1px 50px;
}

.lista-container a{
  text-decoration: none;
  color: gray;
}

textarea{
  resize: none;
}

/* Media Queries */
@media screen and (max-width: 1440px) {

}

@media screen and (max-width: 1024px) {

}

@media screen and (max-width: 768px) {

}

@media screen and (max-width: 425px) {

}

@media screen and (max-width: 375px) {

}

@media screen and (max-width: 320px) {

}
